@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

:root {
    --purple: #8e4aed;
    --white: #ffffff;
    --light-gray: #29292b;
    --dark-gray: #1a1a1c;
    --border-radius-default: 10px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 64px;
}

html {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#app{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html, body{
    height: 100%;
    margin: 0;
}

