@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 64px;
}

html {
    font-family: 'Roboto', sans-serif;
}


#app{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html, body{
    height: 100%;
    margin: 0;
    background-color: #1a1a1c
}
h1, h2, h3, p{
    color: white;
}

label{
    color: #c8c8c8
}

input[type=text]{
    color: #c8c8c8;
}
input[type=date]{
    color: #c8c8c8;
}
input[type=file]::file-selector-button{
    color: #c8c8c8;
}

textarea{
    color: #c8c8c8 !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}